{% extends '_extended_base.twig' %}

{% block content %}

    <div class="site-content listing">
        <div class="inner">

            {# This template is used for 'listings': Generic pages that list a number of
               records from a certain contenttype. These records are available as an array
               called 'records'. In the for-loop below, we iterate over the records that
               are on this page. It can be used for overview pages like 'all entries', or
               'all records tagged with kittens'. #}

            {# If used for listing a taxonomy, we add a heading.: #}
            {% if taxonomytype is defined %}
                <h1>
                    {{ __('general.phrase.overview-for') }}
                    {% if taxonomy.options[slug] is defined %}
                        {{ taxonomy.options[slug] }}
                    {% else %}
                        {{ slug }}
                    {% endif %}
                </h1>
                {# Taxonomies are fetched unordered by design except if 'has_sortorder'
                   is set to true. This way we keep 'grouping' intact in the listing. #}
                {% if not taxonomy.has_sortorder %}
                    {# If we specified an order in config.yml, sort them here, accordingly: #}
                    {% set records = records|order(config.get('general/listing_sort')) %}
                {% endif %}
            {% endif %}

            <ul class="l-list">
                {% for record in records %}
                    <li class="l-itm">
                        <a href="{{ record.link }}" class="l-lnk">
                            <div class="l-wrapper-img">
                                {% if record.image is not empty %}
                                    <img srcset="{{ thumbnail(record.image, 300, 200) ~ '?' ~ version }} 300w,
                                                 {{ thumbnail(record.image, 600, 400) ~ '?' ~ version }} 600w"
                                         sizes="(max-width:639px) 300px, (min-width:640px) 300px"
                                         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                         alt=""
                                         class="l-img">
                                {% else %}
                                    <div class="l-default-img"></div>
                                {% endif %}
                            </div>
                            <div class="l-content">
                                <h2 class="l-title-1">{{ record.title }}</h2>
                                {# display something introduction-like.. #}
                                <p>{{ record.excerpt(300, false, search|default('')) }}</p>
                            </div>
                        </a>
                    </li>
                {% else %}
                    <li class="l-itm-no-result">
                        <h2 class="l-title-1-no-result">{{ __('general.phrase.no-content-found') }}</h2>
                        <div class="l-content-no-result">
                            <p>
                                {{ __("Unfortunately, no content could be found. Try another page, or go to the <a href=\"%paths_root%\">homepage</a>.", {'%paths_root%': path('homepage')} ) }}
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            {# If there are more records than will fit on one page, the pager is shown. #}
            {{ pager(template = 'partials/_pagination.twig') }}

        </div>
    </div>

{% endblock content %}
